p { /* 1 */
  border: 1px solid blueviolet;
}

h1 { /* 1 */
  text-align: center;
}

.text-left { /* 10 */
  text-align:left;
}

#greeting { /* 100 */
  background-color: green;
}

#greeting {
  color: blue;
}

