<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header><h1><%= htmlWebpackPlugin.options.title %></h1></header>
    <main>
      <section>
        <h2>Sobre mi</h2>
        <img class="perfil" height="200" width="200" alt="Foto de perfil" />
        <div id="sobre-mi"></div>
      </section>
      <section>
        <h2>Experiencia</h2>
        <div id="experiencia"></div>
      </section>
      <section>
        <h2>Habilidades</h2>
        <div id="habilidades"></div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
